* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
font-size: 16px;
}
ul {
    list-style: none;
}
.wraper {
    width: 100%;
    height: 100vh;
    min-width: 320px;
    max-width: 1024px;
    background: #554984;
    margin: auto; 
    /*расположение кнопки по центру*/  
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}
.endResult {
    display: none;
    color: white;
    text-align: center;
    font-size: 16px;
}
.endResult2 {
    display: block;
}
.number1 {
    width: 220px;
    height: 85px;
    background-color: gold;
    border: 2px solid black;
}
.number1 p {
    font-weight: 900;
    text-align: center;
    font-size: 62px;
}
.number2 {
    width: 220px;
    height: 85px;
    background-color: gold;
    border: 2px solid black;
}
.number2 p {
    font-weight: 900;
    text-align: center;
    font-size: 62px;
}
.number3 p {
    font-weight: 900;
    text-align: center;
    font-size: 62px;
}
.number3 {
    width: 220px;
    height: 85px;
    background-color: gold;
    border: 2px solid black;
}
.number {
    display: flex;
    
}
#equale {
    background: green;
    
}
.number h1{
    display: block;
    color: red;
    font-size: 47px;
    
}
/*main*/
.main {
    display: none;
}
.mainBlock {
    display: block;
    width: 100%;
}
/* footer*/ 
.clawa {
display: none;
}
.clawaBlock {
    display: block;
}
.ul {
    width: 175px;
    margin: auto;
    
}
.ul2 {
    display: flex;
}
.li1_2 {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid;
    color: blue;
    text-align: center;
    font-size: 40px;
    font-weight: 900;

    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 18px;
}

#score1,#score2 {
    display: inline;
}
.button {
    display: flex;
    justify-content: center;
}
/*TIMER*/
.timerBlock {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
}
#timer {
    display: none;
    position: relative;
    color: red;
    font-size: 30px;
    left: -5%;
}
.presed {
    display: none;
}

.parallax-container {
    height: "your height here";
  } 

  @media only screen and (min-width: 480px) {
    .wraper {
        background: #484;
    }
    
  }